


body{
background-color: rgba(10, 255, 235, 0.616);
color: rgb(0, 0, 0);
background-image:url(-img/79ec0efae164833b0ed42d7132aef46e-spring-sunglasses-icon.webp);

}   
p{
    text-align: justify;

}
figure.img-legenda{
    position: relative;
    border: 5px solid rgb(102, 102, 102);
    box-shadow: 1px 1px 15px black;
    width: 49%;
height: 100%;

 
}
figure.img-legenda img {
   width: 99%;
   height: 100%;
}
figure.img-legenda figcaption{
    opacity: 0;
    position: absolute;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.253);
        color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
     transition: opacity 1s;
}
figure.img-legenda:hover figcaption{
    opacity: 1;
    cursor: pointer;
}